{
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "printWidth": 80,
  "semi": true,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
